In [1]:
import pandas as pd

In [95]:
tweets = pd.read_csv('tweets_sql.csv').rename(columns = {"Unnamed: 0": 'id'})
users = pd.read_csv('users_sql.csv').rename(columns = {"Unnamed: 0": 'id'})

In [96]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             175 non-null    int64
 1   tweet_id       175 non-null    int64
 2   tweet_text     175 non-null    object
 3   tweet_date     175 non-null    object
 4   user_id        175 non-null    int64
 5   tweet_retweet  175 non-null    int64
 6   tweet_reply    175 non-null    int64
 7   tweet_like     175 non-null    int64
 8   tweet_quote    175 non-null    int64
dtypes: int64(7), object(2)
memory usage: 12.4+ KB

In [66]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             57 non-null     int64
 1   user_id        57 non-null     int64
 2   user_name      57 non-null     object
 3   user_username  57 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.9+ KB

In [8]:
import pymysql

In [82]:
db = pymysql.connect(host = 'database-1.ccl50gywe0s6.us-east-2.rds.amazonaws.com',
                     user = 'admin',
                     password = 'adminjjs',
                     port = 3306,
                     cursorclass = pymysql.cursors.DictCursor)

cursor = db.cursor()

In [83]:
cursor.execute("DROP DATABASE TheBridge_Tech_Tweets")
cursor.connection.commit()

In [84]:
#Create database
create_db = '''CREATE DATABASE TheBridge_Tech_Tweets'''
cursor.execute(create_db)
cursor.connection.commit()

In [85]:
#Select database and create table
use_db = ''' USE TheBridge_Tech_Tweets'''
cursor.execute(use_db)

create_table = '''
CREATE TABLE users (
    id INT NOT NULL AUTO_INCREMENT,
    user_id VARCHAR(30),
    user_name TEXT,
    user_username TEXT,
    PRIMARY KEY (id),
    INDEX users_user_id_index (user_id)
)
'''
cursor.execute(create_table)
db.commit()

In [86]:
#Select database and create table
use_db = ''' USE TheBridge_Tech_Tweets'''
cursor.execute(use_db)

create_table = '''
CREATE TABLE tweets (
    id INT NOT NULL AUTO_INCREMENT,
    tweet_id VARCHAR(30),
    tweet_text TEXT,
    tweet_date TEXT,
    user_id VARCHAR(30),
    tweet_retweet INT,
    tweet_reply INT,
    tweet_like INT,
    tweet_quote INT,
    PRIMARY KEY (id),
    FOREIGN KEY (user_id) REFERENCES users(user_id),
    INDEX tweets_user_id_index (user_id)
    )
'''
cursor.execute(create_table)
db.commit()
db.close()

In [87]:
from sqlalchemy import create_engine

In [88]:
engine = create_engine('mysql+pymysql://admin:adminjjs@database-1.ccl50gywe0s6.us-east-2.rds.amazonaws.com:3306/TheBridge_Tech_Tweets')

In [97]:
users.to_sql(name = 'users', con = engine, if_exists = 'append', index = False)

57

In [98]:
tweets.to_sql(name = 'tweets', con = engine, if_exists = 'append', index = False)

175

In [99]:
engine.dispose()

In [102]:
db = pymysql.connect(host = 'database-1.ccl50gywe0s6.us-east-2.rds.amazonaws.com',
                     user = 'admin',
                     password = 'adminjjs',
                     port = 3306,
                     database = 'TheBridge_Tech_Tweets',
                     cursorclass = pymysql.cursors.DictCursor)

cursor = db.cursor()

In [106]:
sql = '''SELECT * FROM tweets'''
cursor.execute(sql)
mi_lista = cursor.fetchall()
pd.DataFrame(mi_lista)

,id,tweet_id,tweet_text,tweet_date,user_id,tweet_retweet,tweet_reply,tweet_like,tweet_quote
0,1,1610652818234347521,¬øTe interesa el dise√±o de #producto digital? V...,2023-01-04 15:02:11+00:00,10279282,2,0,3,0
1,2,1610606391445815297,¬°Empezamos el a√±o con una #masterclass de #uxu...,2023-01-04 11:57:41+00:00,2402179123,2,0,3,0
2,3,1610581093119365121,¬øTe planteas un futuro como dise√±ador #uxui?üé®\...,2023-01-04 10:17:10+00:00,1162694149956603904,3,0,4,0
3,4,1610236180309868544,"Echa unüëÄa la historia de Ver√≥nica, alumni del ...",2023-01-03 11:26:36+00:00,1162694149956603904,1,0,2,0
4,5,1609931268921114627,ü§ù @EDEMempresarios se al√≠a con @TheBridge_Tech...,2023-01-02 15:15:00+00:00,874916978665938945,1,0,5,0
...,...,...,...,...,...,...,...,...,...
170,171,1612429007739396097,Ya tenemos confirmado el sitio donde haremos e...,2023-01-09 12:40:07+00:00,1003872445,2,0,7,0
171,172,1612411945251905537,¬øQuieres conocer nuestro campus de Madrid?\n\n...,2023-01-09 11:32:19+00:00,1162694149956603904,1,0,1,0
172,173,1612384123816910852,¬øQuieres desarrollar tu carrera en el mundo di...,2023-01-09 09:41:46+00:00,570795448,2,0,4,2
173,174,1611813891322908672,üöÄ @EDEMempresarios y @TheBridge_Tech se al√≠a...,2023-01-07 19:55:52+00:00,271028835,2,0,7,0
174,176,1611338908196913153,Gracias a nuestros amigos @TheBridge_Tech por ...,2023-01-06 12:28:27+00:00,1530194743786881024,0,0,2,0

In [107]:
sql = '''SELECT * FROM users'''
cursor.execute(sql)
mi_lista = cursor.fetchall()
pd.DataFrame(mi_lista)

,id,user_id,user_name,user_username
0,1,10279282,Jes√∫s P√©rez Serna,mkpositivo
1,2,2402179123,Jorge Gonz√°lez Revilla,jorgegrev
2,3,1162694149956603904,The Bridge,TheBridge_Tech
3,4,874916978665938945,Startup Valencia,Startup_VLC
4,5,1151510939105144834,EDEM universitarios,EDEM_uni
5,6,570795448,EDEM,EDEMempresarios
6,7,1128860148,Econom√≠a 3,Economia_3
7,8,799935450844631040,Mediterr√°neoPress,MediterraneoPre
8,9,921670812637257728,VLC Tech City,VLCTechCity
9,10,1175646685,Val√©ncia News,ValenciaNews_es
10,11,402013017,Radio Valencia SER,radiovalencia
11,12,1407291884901482496,Cluster CyberMadrid,Cyber_Madrid
12,13,108885393,Zucchetti Spain,ZucchettiSpain
13,14,49219057,Javier Guerra,javgr
14,15,702077405045899264,Fundaci√≥n BBK | Obra Social,BBK_eus
15,16,146406912,Edita Olaizola,EditaOla
16,17,2529499620,Formaci√≥n Fundaci√≥n Universidad Carlos III,formacion_fuc3
17,18,1951117790,InfoLagun ü¶é,Infolagun
18,19,378449449,"Expansi√≥nate, S.L.",ExpansionaT
19,20,823470817963032576,BBK network,BBKnetwork
20,21,783248945761910788,Hopla! Software,HoplaSoftware
21,22,1585726199485140993,Asociaci√≥n de Estudiantes de Software Libre UPO,ESOLIUPO
22,23,41545659,Mario Lopez de Avila,nodosenlared
23,24,925597948410580993,Valerio Rocco Lozano,RoccoLozano
24,25,276656109,"Jorge Ordov√°s (üå∏, üåø)",joobid
25,26,1003872445,Pau Mugarra,PauMugarra
26,27,763727449,Omar Landaeta,OmarjLand
27,28,1207228796593745920,Decentralized ‚Çø‰∏∞‚ö°,decentralized_b
28,29,2603024598,Ricardo P√©rez-Marco,rperezmarco
29,30,1099588676181471233,Flor_Turoninos,turoninos
30,31,1685197165,Metricool ES ‚àû,Metricool_es
31,32,1288769305014939650,42 Urduliz,42UrdulizFTef
32,33,4899284631,My Tech Plan,my_tech_plan
33,34,106344840,C√°mara de Comercio de Sevilla,camaradesevilla
34,35,2611663910,tugesto,tugesto
35,36,1065627197115981824,AQUADAT,Aqua_Radar
36,37,2218313375,I√±igo Ca√±adas Manso,IcanadasM
37,38,112458375,Enrique Mart√≠n,enriquemartiin
38,39,207894341,Page Personnel,PagePersonnelES
39,40,1068424025356021760,üê£ Ari üêô,Ari_Reinventada
40,41,1437857235036786693,Yenitoü´ìüëΩüò∫,Yenito_
41,42,550417439,BilboStack Conference,BilboStack
42,43,1101664008,Bart Farrell,birthmarkbart
43,44,1455515154133786625,üöÄ Tadatic,Tadatic_
44,45,1524905248007114783,Fisco Rodriguez,FiscoRodriguez
45,46,91876265,Diana Damas (ella/she),ddamasd
46,47,7154412,Javier G. Recuenco,Recuenco
47,48,866742930,V√≠ctor üìñüêÅ,nudpiedo
48,49,17287251,Mar√≠a Blanco #Putin –ò–¥–∏ –¥–æ–º–æ–π.,Godivaciones
49,50,141272779,aebm,ae_bm
50,51,417307513,Popmart,Popmart_u2
51,52,212364786,Gonzalo Os√©s,designetworking
52,53,1610073819791728640,J,jnlpz22
53,54,1232105203,Adri√°n M√©ndez,adriskou
54,55,163586106,Escuela de Negocios,ENCamaraSevilla
55,56,271028835,Valientes Emprendedores,valientesempren
56,58,1530194743786881024,Bitcoin Tuesday,BitcoinTuesday_